.about {
    max-width: 1440px;
    margin: 10% auto 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-row-gap: 20px;
    align-items: center;

    .about-title {
        align-self: end;
        text-align: center;
        font-size: 144px;
        text-shadow: 0 5px 4px $clr-shadow;
        color: $clr-primary;
        letter-spacing: 4px;
        -webkit-text-stroke: 0.15px;
    }

    .about-desc {
        margin: 0 10%;
    }

    .stack-callout {
        align-self: start;
        text-align: center;

        .stack-callout-arrow {
            position: relative;
            transform: translateY(-0.5em);
            &::after {
                content: "|";
                position: absolute;
                top: -0.25em;
                left: calc(50% - 0.125em);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .about {
        background-color: $clr-dark;
        /* .about-title {
            color: $clr-font-dark;
        } */
        .about-desc {
            color: $clr-font-dark;
        }
        .stack-callout {
            color: $clr-font-dark;
        }
    }
}