.about {
  $margin: 100px;
  position: relative;
  margin: $margin 0;
  scroll-snap-stop: always;

  .about-rect {
    grid-row: none;
    height: calc(100% + #{2 * $margin});
    width: 100vw;
    bottom: -$margin;
    left: -50%;
    animation: aboutSwipe 1000ms forwards paused;
    z-index: 1;
  }

  @keyframes aboutSwipe {
    100% {
      left: 100%;
    }
  }
}

.about-inner {
  position: relative;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  grid-row-gap: 20px;
  align-items: center;
  opacity: 0;

  .about-title {
    align-self: end;
  }
  .about-desc {
    margin: 0 10%;
    color: $clr-font-dark;
  }

  .stack-callout {
    align-self: start;
    text-align: center;
    color: $clr-font-dark;

    .stack-callout-arrow {
      position: relative;
      transform: translateY(-0.5em);
      &::after {
        content: '|';
        position: absolute;
        top: -0.25em;
        left: calc(50% - 0.125em);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .about {
    .about-rect {
      left: -50%;
    }
    @keyframes aboutSwipe {
      100% {
        left: 100%;
      }
    }
  }
  .about-inner {
    .about-desc {
      color: $clr-font-dark;
    }
    .stack-callout {
      color: $clr-font-dark;
    }
  }
}
