.banner {
    background-color: $clr-light;
    position: relative;

    .svg-wrap {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin: 10%;
            z-index: 1;
        }
    }
    path.b,
    path.r {
        fill: $clr-primary;
    }
    path.y,
    path.n {
        fill: $clr-primary;
        animation: pathLoad 375ms 1250ms forwards;
    }
    .banner-rect {
        height: 100%;
        top: -100%;
        right: 0;
        width: 50%; 
        animation: bannerLoad 1000ms 1000ms forwards;
    }
    .subtitle {
        color: $clr-light;
        position: absolute;
        bottom: 1em;
        right: 1em;
        font-size: 32px;
    }
}

@keyframes bannerLoad {
    100% {
        top: 0;
    }
}

@keyframes pathLoad {
    100% {
        fill: $clr-light;
    }
}

@media (prefers-color-scheme: dark) {
    .banner {
        background-color: $clr-primary;
        path.b,
        path.r {
            fill: $clr-dark;
        }
        path.y,
        path.n {
            fill: $clr-dark;
        }
        .banner-rect {
            background-color: $clr-dark;
        }
    }
    @keyframes  pathLoad {
        100% {
            fill: $clr-primary;
        }
    }
}