$card-tilt: 2deg;

@mixin card-shadow($bool, $color) {
    box-shadow: -10px*$bool 20px 4px $color;
}

.projects {
    height: 100%;
    display: flex;
    overflow-x: scroll;
}

.project-wrapper {
    flex: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-grid {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
    grid-gap: 20px;
}

.project-card {
    grid-area: 2/2/7/7;
    background-color: transparent;
    perspective: 1500px;

    .svg {
        box-shadow: 1px solid black;
    }

    .project-card-inner {
        @include card-shadow(1, $clr-shadow);
        position: relative;
        height: 100%;
        background-color: $clr-primary;
        will-change: transform;
        transition: transform 1200ms;
        transform-style: preserve-3d;
        transform: rotateY($card-tilt);


        .project-card-front, .project-card-back {
            position: absolute;
            height: 100%;
            display: grid;
            grid-template: repeat(10, 1fr) / repeat(10, 1fr);
            backface-visibility: hidden;
            transform-style: preserve-3d;
        }
        .project-card-back {
            transform: rotateY(180deg);
        }

        .project-title {
            grid-area: 2/2/4/10;
            align-self: center;
            text-align: center;
            font-size: 120px;
            letter-spacing: 0.05em;
            color: $clr-light;
        }

        .divider {
            grid-area: 4/2/5/10;
            align-self: end;
            width: auto;
            height: 4px;
            transform: translateY(-10px);
            background-color: $clr-light;
        }

        .img-wrapper {
            grid-area: 6/2/10/10;
            width: auto;
            height: calc(100% + 20px);
            transform: translateY(-20px);
            background-color: $clr-light;
        }

        .text-box {
            grid-area: 6/2/10/10;
            display: grid;
            grid-template: repeat(4, 1fr) / repeat(8, 1fr);

            .text-bg {
                grid-area: 1/1/9/9;
                width: 100%;
                height: calc(100% + 20px);
                transform: translateY(-20px);
                background-color: $clr-light;
            }

            .project-subtitle {
                grid-area: 1/1/2/9;
                align-self: center;
                text-align: center;
                //transform: translateY(5px);
                font-size: 36px;
                color: $clr-dark;
                z-index: 1; //why is this needed??
            }

            .sub-divider {
                grid-area: 2/2/3/8;
                width: calc(100% + 20px);
                height: 2px;
                transform: translate(-10px, 10px);
                background-color: $clr-dark;
            }

            .project-desc {
                grid-area: 3/2/5/8;
                color: $clr-dark;
                z-index: 1;
                font-size: 16px;
            }
        }
    }

    &[data-flipped  = true] .project-card-inner {
        @include card-shadow(-1, $clr-shadow);  
        transform: rotateY(180deg + $card-tilt);
        animation-name: shadowAnimB;
        animation-duration: 1200ms;
    }

    &[data-flipped  = false] .project-card-inner { 
        animation-name: shadowAnimF;
        animation-duration: 1200ms;
    }

    &[data-flipped  = false] .project-card-inner:hover {
        @include card-shadow(1, $clr-highlight-light);
    }
    &[data-flipped  = true] .project-card-inner:hover {
        @include card-shadow(-1, $clr-highlight-light);
    }

    @keyframes shadowAnimF {
        0% {
            @include card-shadow(-1, $clr-shadow);
        }
        50% {
            box-shadow: none;
        }
        100% {
            @include card-shadow(1, $clr-shadow);
        }
    }
    @keyframes shadowAnimB {
        0% {
            @include card-shadow(1, $clr-shadow);
        }
        50% {
            box-shadow: none;
        }
        100% {
            @include card-shadow(-1, $clr-shadow);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .project-card {
        .project-card-inner {
            .project-title {
                color: $clr-dark;
            }
            .divider {
                background-color: $clr-dark;
            }
            .img-wrapper {
                background-color: $clr-dark;
            }
            .text-box {
                background-color: $clr-dark;
                .text-bg {
                    background-color: $clr-dark;
                }
                .project-subtitle {
                    color: $clr-font-dark;
                }
                .sub-divider {
                    background-color: $clr-font-dark;
                }
                .project-desc {
                    color: $clr-font-dark;
                }
            }
        }
        &[data-flipped  = false] .project-card-inner:hover {
            @include card-shadow(1, $clr-highlight-dark);
        }
        &[data-flipped  = true] .project-card-inner:hover {
            @include card-shadow(-1, $clr-highlight-dark);
        }
    }
}