@media (max-width: 1200px) {
  body .body-text-sm {
    font-size: 16px;
  }
  body .body-text-lg {
    font-size: 24px;
  }
  body .about .about-title {
    font-size: 96px;
  }
  body .project-card .project-card-inner {
    .project-title {
      font-size: 96px;
    }
    .text-box .project-subtitle {
      font-size: 24px;
    }
  }
}
@media only screen and (max-width: 768px) {
  body .body-text-lg {
    font-size: 16px;
  }
  body .about .about-title {
    font-size: 64px;
  }
  .about .socials-wrapper {
    flex-direction: row;
    bottom: 32px;
    right: 32px;
    gap:  16px;
    a {
      width: 32px;
      height: 32px;
    }
  }
  .stack-wrapper {
    svg {
      width: 100px;
      height: auto;
    }
  }
  .projects {
    svg {
      display: none;
    }
    .project-grid {
      padding: 0;
    }
    .project-card .project-card-inner {
      .project-title {
        grid-area: 2/1/4/11;
        font-size: 64px;
      }
      .text-box .project-subtitle {
        font-size: 20px;
      }
    }
  }
}
