.stack {
    height: 100%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
}

.stack-wrapper {
    min-height: 50%;
    max-height: 100%;
    height: fit-content;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    svg {
        margin: 10px;
    }
}

.stack-bar {
    width: 100%;
    height: 45px;
    background-color: $clr-primary;
    box-shadow: 0 5px 4px $clr-shadow;
}