$clr-light: #FAFAFA;
$clr-dark: #130330;
$clr-primary: #1C5491;
$clr-font-dark: #F5F5F5;
$clr-highlight-light: #130330;
$clr-highlight-dark: #C3D1DF;
$clr-shadow: rgba(0,0,0,0.4);

$font-title: 'Newake', 'Impact', 'Arial Black', 'Trebuchet MS', 'sans-serif';
$font-body: 'Gill Sans', 'Helvetica Neue', 'Arial', 'sans-serif';

$scroll-margin: 100px;