$clr-light: #FAFAFA;
$clr-dark: #130330;
$clr-primary: #1C5491;
$clr-font-dark: #C1BDC8;
$clr-highlight-light: #130330;
$clr-highlight-dark: #C3D1DF;
$clr-shadow: rgba(0,0,0,0.25);

$font-title: 'Newake', 'Arial', 'sans-serif';
$font-body: 'Arial', 'sans-serif';